@import './base/variables';

* {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	img {
		max-width: 100%;
	}
}
.container {
	max-width: 1110px;
	margin: 0 auto;
}

@import './blocks/header.scss';
@import './blocks/adv';
@import './blocks/btn';
@import './blocks/calc';
@import './blocks/car';
@import './blocks/footer.scss';
@import './blocks/news-descr';
@import './blocks/media';
