.adv {
    margin: 52px 0 130px 0;

    &__main-row {
        min-height: 519px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__subrow {
        min-height: 605px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

}
