.block {
    .rectangle{
        background-color: $gray-color;
        &-1 {
            width: 730px;
            height: 487px;
        }
        &-2 {
            width: 350px;
            height: 487px;
        }
        &-3 {
            height: 293px;
            width: 350px;
        }
        &-adv {
            top: 23px;
            z-index: -1;
            position: absolute;
            height: 319px;
            width: 100%;
        }
        &-auto {
            &-left {
                width: 445px;
                height: 300px;
            }
            &-right {
                width: 316px;
                height: 190px;
            }
        }
    }
    .descr {
        font-weight: 500;
        font-size: 18px;
        &-1 {
            margin-bottom: 30px;
        }
        &-3 {
            margin-bottom: 20px;
        }
    }
    &-auto{
        &-left{
            width: 445px;
            height: 400px;
        }
        &-right{
            width: 635px;
            height: 400px;
            .upper {
                display: flex;
                margin-bottom: 10px;
                .car-descr {
                    margin-left: 35px;
                }
            }
            .lower {
                display: flex;
            }
        }
    }

}