.btn {
    display: block;
    height: 41px;
    width: 230px;
    background-color: $yellow-color;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    border: none;
    cursor: pointer;
    outline: none;
    &-adv {
        margin: 0 auto;
        margin-top: 45px;
    }
    &-calc {
        margin: 0 auto;
        margin-top: 118px;
    }
}
