.footer {
    min-height: 170px;
    background-color: $black-color;
    &__wrapper {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        padding: 19px 0 15px 0;
    }

    // &__menu {

    // }

    &__list {
        list-style-type: none;
    }

    &__link {
        font-weight: 500;
        font-size: 16px;
        color: $yellow-color;
    }

    &__logo {
        height: 136px;
        width: 178px;
        display: flex;
        align-items: center;
    }   



    &__social {
        width: 128px;
        height: 64px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 72px;
    }

    // &__facebook {
    // }

    // &__facebook-link {
    // }

    // &__facebook-img {
    // }

    // &__instagram {
    // }

    // &__instagram-link {
    // }

    // &__instagram-img {
    // }

    // &__youtube {
    // }

    // &__youtube-link {
    // }

    // &__youtube-img {
    // }

    &__contacts {
        color: $yellow-color;
    }
}
