.header {
    background-color: $yellow-color;
    min-height: 120px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0 10px 0;
    }

    &__logotype {
        width: 180px;
        height: 87px;
    }

    &__logo {
        width: 100%;
    }

    &__search {
        margin-top: 26px;
        width: 635px;
        height: 36px;
        border: none;
        outline: none;
        padding-left: 10px;;
    }

    &__search-icon {
        position: absolute;
        width: 25px;
        height: 35px;
        top: 32px;
        right: 8px;
        cursor: pointer;
    }

    &__search-img {
        width: 100%;
    }

    &__menu {
        position: relative;
        width: 635px;
        height: 87px;
    }

    &__list {
        padding: 0;
        width: 613px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
    }

    &__link {
        color: $black-color;
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        opacity: .5;
    }

    &__cabinet {
        display: flex;
        align-items: center;
        width: 106px;
        height: 25px;
    }

    &__user-icon {
        height: 25px;
        height: 25px;
        cursor: pointer;
        padding-right: 10px;
    }

    &__user-img {
        height: 100%;
        width: 100%;
    }

    &__user-name {
        color: $black-color;
        font-weight: normal;
        font-size: 18px;
    }
}

