.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border: 1px solid black;
    height: 36px;
    width: 328px;
    opacity: .5;
    margin-bottom: 10px;
    &__dropdown {
        display: block;
        cursor: pointer;
        float: right;
    }
    &__little {
        width: 164px;
    }
}