@media (max-width: 1200px) {
    .container {
        overflow: hidden;
    }

    .hamburger {
        display: none;
    }

    .calc {
        &__form {
            box-shadow: 0px 0px 3px 1px #3c3d2a inset, 4px 4px 9px #34345a, -4px -4px 9px #491010;
        }
    }

    .header {
        &__logotyle {
            width: 160px;
        }
        &__link {
            font-size: 16px;
        }
        &__search {
            width: 630px;
        }
        &__user {
            
            &-name {
                font-size: 16px;
            }
        }
    }

    .adv {
        margin: 52px 0 100px 0;
        &__main {
            &-row {
                padding: 0 1% 0 1%;
            }
        }
        &__subrow {
            padding: 0 1% 0 1%;
        }
    }

    .news {
        &__descr, &__descr-sub {
            font-size: 18px;
        }
        &__img-wrapper {
            &-main {
                width: 95%;
            }
        }
    }

    .car {
        padding: 102px 0 150px 0;
        &__engine-type, &__transmission, &__body, &__engine-volume, &__year, &__mileage {
            font-size: 16px;
        }
        &__city {
            font-size: 16px; 
        }
    }

    .footer {
        &__social {
            transform: translateX(-6%);
        }
    }
}

@media (max-width: 1100px) {
    .header {
        &__logo {
            transform: translateX(6%);
        }
        &__search-icon {
            right: 18.3%;
        }
    }
    .adv {
        &__subrow {
            justify-content: space-around;
        }
    }  

    .car {
        &__descr-aux {
            position: relative;
        }
        &__price {
            position: absolute;
            bottom: 30px;
        }
        &__right {
            width: 52%;
        }
        &__main {
            &-wrapper {
                padding: 0 1% 0 1%;
            }
        }
    }  
}

@media (max-width: 1000px) {
    .car {
        &__body {
            position: absolute;
            left: 0;
            bottom: 87px;
        }
    }
    .header {
        &__search-icon {
            right: 15%;
        }
    } 
}

@media (max-width: 950px) {
    .hamburger {
        display: block;
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        height: 16px;
        width: 22px;
        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: $black-color;
            margin-bottom: 2px;
            transition: 0.6s all;
        }
        &_active {
            span {
                margin-bottom: -2px;
                &:nth-child(1) {
                    transform: rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: rotate(45deg);
                }
            }
        }
    }
    
    .header {
        position: relative;
        &__cabinet {
            display: none;
        }
        &__search {
            display: none;
            &-icon {
                width: 30px;
                height: 30px;
                transform: translateY(-8px);
            }
        }
        &__list {
            position: fixed;
            top: 0;
            left: -100%;
            width: 50%;
            height: 100vh;
            padding: 20px 15px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: rgba(0, 0, 0, .8);
            transition: 0.6s all;
        &_active {
            left: 0;
        }
        }
        &__link {
            color: $white-color;
            opacity: 1;
            font-size: 20px;
        }
        &__item {
            padding-right: 0;
            border: none;
            margin: 10px;
        }
    }

    .car {
      &__main-wrapper {
          display: block;
      }
      &__left {
          margin: 0 auto;
          width: 90%;
          margin-bottom: 20px;
      }
      &__main-img-wrapper {
          width: 100%;
      }
      &__descr {
          width: 100%;
      }
      &__right {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
          &-upper, &-lower {
              display: block;
              width: 316px;
          }
        }
    }
    .adv {
        &__main {
            &-row {
                display: block;
            }
            &-img-wrapper {
                width: 100%;
            }
        }  
    } 

    .news {
        &-aux {
            display: none;
        }
        &-main {
            width: 100%;
        }
        &__img-wrapper-main {
            display: block;
            margin: 0 auto;
            width: 100%;
        }
        &__text {
            padding-left: 24px;
        }
        &__descr {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 768px) {
    .header {
        min-height: 80px;
        &__wrapper {
            padding: 10px 0 0 0;
        }
        &__menu {
            width: 0;
            height: 0;
        }
        &__search-icon {
            transform: translate(20px, -15px);
        }
        &__logotype {
            width: 150px;
        }
    
    }

    .footer {
        min-height: 150px;
        &__wrapper {
            padding: 12px 0 6px 0;
        }
    }

    .adv {
        &__subrow {
            display: block;
            padding: 0 16px 0 16px;
        }
    }

    .news {
        display: flex;
        width: 100%;
        &__img-wrapper {
            width: 49%;
        }
        &__text {
            position: relative;
            width: 49%;
        }
        &__date {
            &-sub {
                position: absolute;
                bottom: 60px;
            }
        }
    }
    .calc {
        &__menu {
            display: flex;
            justify-content: space-between;
        }
        &__list {
            width: 78%;
        }
        &__link {
            font-size: 15px;
        }
        &__choice {
            display: block;
            width: 100%;
            &-right, &-left {
                display: block;
                margin: 0 auto;
                width: 100%;
            };
        }
        &__form {
            display: block;
            margin: 0 auto;
            width: 80%;
            height: 600px;
        }
    }
    .btn {
        &-adv {
            margin-top: 10px;
        }
        &-calc {
            bottom: -230px;
            right:50%;
            transform: translateX(50%);
        }
    }

    .car {
        &__right {
            margin-left: 15%;
            display: block;
            &-upper, &-lower {
                width: 100%;
                margin: 0 auto;
                display: flex;
            }
        }
    }
}

@media (max-width: 480px) {
    .car {
        &__right {
            margin-left: 5%;
        }
    }
    .calc {
        &__menu {
            display: none;
        }
        &__form {
            width: 100%;
        }
        &__short-item {
            width: 50%;
        }
        
        &__adv {
            display: none;
        }
        &__long-item {
            width: 100%;
            &-active {
                width: 100%;
            }
        }
        &__descr {
            width: 100%;
        }
    }
    .adv {
        margin: 10px 0 40px 0;
        &__main-row {
            margin-bottom: 20px;
            min-height: 430px;
        }
    }
    .news{
        min-height: 100px;
        &__img-wrapper-main {
            height: auto;
        }
        &-main {
            min-height: 200px;
        }
    }
    .footer {
        max-height: 80px;
        &__wrapper {
            padding: 5px 0 0 0 ;
        }
        &__social {
            display: none;
        }
        &__logo {
            width: 170px;
            align-items: flex-end;
        }
    }
}

@media (max-width: 360px) {
    .header {
        &__wrapper {
            padding-bottom: 5px;
        }
        min-height: 60px;
        &__logotype {
            width: 101px;
            height: 49px;
        }
        &__search-icon {
            top: -15px;
        }
    }

    .calc {
        &__short-item {
            width: 50%;
        }
        &__form {
            margin: 15px 0 10px 0;
        }
    }

    .adv {
        margin: 0;
        &__main-row {
            padding: 0;
        }
    }
    .news {
        &__text-main {
            margin-left: 5px;
        }
        &__img-wrapper {
            &-main {
                height: 340px;
                width: 100%;
            }
        }
        &__descr, &__date {
            display: block;
            width: 100%;
        }
    }
    .car {
        display: none;
    }
    .footer {
        min-height: 147px;
        &__logo {
            width: 140px;
        }
        &__link {
            font-size: 14px;
        }
        &__list {
            margin-bottom: 0;
        }
    }
}
