.parametres {
    position: relative;
    min-height: 370px;
    .wrapper {
        display: flex;
        justify-content: space-between;
        .right-column {
            .more-param {
                display: block;
                width: 100%;
                text-align: right;
                color: $yellow-color;
                text-decoration: underline;
            }
        }
    }
    &__main {
        margin: 0 auto;
        width: 696px;
        height: 369px;
        padding: 10px;
        background-color: $white-color;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        .little-block {
            width: 328px;
            display: flex;
            flex-wrap: wrap;
            span {
                width: 100%;
            }
        }
        ul {
            list-style-type: none;
            display: flex;
            justify-content: start;

            li {
                a {
                    position: relative;
                    color: $black-color;
                    cursor: pointer;
                    line-height: 1;
                    text-decoration: none;
                    margin: 5px;

                }

                a:after {
                    display: block;
                    position: absolute;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: $yellow-color;
                    content: "";
                    transition: width 0.3s ease-out;
                }

                a:hover {
                    font-weight: 700;
                }

                a:hover:after,
                a:focus:after {
                    width: 100%;
                }
            }
        }
    }
}